{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="display-1">Sign Up</h1>
<form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
        'hidden' %}
        <div>
            {{field.label}} {{field(class_='form-control mb-4')}} {% for error in
            field.errors %}
            <p class="form-text text-danger">{{error}}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Register</button>
</form>
{% endblock %}
